In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('Online_Retail.csv', encoding='windows-1252')

In [59]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

In [60]:
data_uk = data[data.Country=='United Kingdom']

In [61]:
data_uk = data_uk.dropna()

In [62]:
data_uk['Quantity'] = data_uk['Quantity'][data_uk['Quantity'] >= 0]

In [70]:
data_uk = data_uk.dropna()

In [101]:
data_uk.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [103]:
data_uk = data_uk[~data_uk.InvoiceNo.str.contains('C',na=False)]

In [117]:
data_uk.duplicated().sum()

0

In [106]:
data_uk = data_uk.drop_duplicates(keep="first")

In [107]:
data_uk

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12.0,12/9/11 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8.0,12/9/11 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24.0,12/9/11 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24.0,12/9/11 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10.0,12/9/11 12:49,7.08,13113.0,United Kingdom

In [108]:
len(data_uk['CustomerID'].unique())

3921

In [109]:
len(data_uk['Description'].unique())

3844

In [110]:
len(data_uk['InvoiceNo'].unique())

16649

In [111]:
data_uk['Description'].value_counts().head()

Description
WHITE HANGING HEART T-LIGHT HOLDER    1929
JUMBO BAG RED RETROSPOT               1461
REGENCY CAKESTAND 3 TIER              1417
ASSORTED COLOUR BIRD ORNAMENT         1320
PARTY BUNTING                         1301
Name: count, dtype: int64

In [112]:
len(data_uk['InvoiceDate'].unique())

15615

In [113]:
data_uk.sort_values(by='UnitPrice', ascending=False).head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
173382,551697,POST,POSTAGE,1.0,5/3/11 13:46,8142.75,16029.0,United Kingdom
374542,569382,M,Manual,1.0,10/3/11 16:44,3155.95,15502.0,United Kingdom
297438,562946,M,Manual,1.0,8/11/11 9:38,2500.00,15581.0,United Kingdom
343000,566927,M,Manual,1.0,9/15/11 15:20,2033.10,17846.0,United Kingdom
150615,549468,M,Manual,1.0,4/8/11 14:27,1867.86,17940.0,United Kingdom
528082,580727,DOT,DOTCOM POSTAGE,1.0,12/5/11 17:17,1599.26,14096.0,United Kingdom
508459,579196,DOT,DOTCOM POSTAGE,1.0,11/28/11 15:54,1526.76,14096.0,United Kingdom
467436,576339,DOT,DOTCOM POSTAGE,1.0,11/14/11 15:27,1500.36,14096.0,United Kingdom
494728,578270,DOT,DOTCOM POSTAGE,1.0,11/23/11 13:39,1270.06,14096.0,United Kingdom
455261,575607,DOT,DOTCOM POSTAGE,1.0,11/10/11 12:37,908.16,14096.0,United Kingdom
429588,573576,DOT,DOTCOM POSTAGE,1.0,10/31/11 14:09,901.58,14096.0,United Kingdom
350599,567656,DOT,DOTCOM POSTAGE,1.0,9/21/11 14:40,878.55,14096.0,United Kingdom
323876,565377,M,Manual,1.0,9/2/11 15:12,852.80,18087.0,United Kingdom
468046,576389,M,Manual,1.0,11/15/11 10:05,850.50,12748.0,United Kingdom
401766,571441,DOT,DOTCOM POSTAGE,1.0,10/17/11 13:31,743.62,14096.0,United Kingdom
361584,568346,DOT,DOTCOM POSTAGE,1.0,9/26/11 15:28,688.08,14096.0,United Kingdom
222682,556446,22502,PICNIC BASKET WICKER 60 PIECES,1.0,6/10/11 15:33,649.50,15098.0,United Kingdom
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60.0,6/10/11 15:28,649.50,15098.0,United Kingdom
416463,572552,DOT,DOTCOM POSTAGE,1.0,10/24/11 17:07,638.30,14096.0,United Kingdom
389983,570488,DOT,DOTCOM POSTAGE,1.0,10/10/11 17:12,635.01,14096.0,United Kingdom

In [114]:
products_quantity = data_uk.groupby('Description')['Quantity'].sum().reset_index()

In [115]:
most_bought_product = products_quantity.sort_values(by='Quantity', ascending=False)

In [116]:
most_bought_product

                              Description  Quantity
2298          PAPER CRAFT , LITTLE BIRDIE   80995.0
1975       MEDIUM CERAMIC TOP STORAGE JAR   76919.0
3753    WORLD WAR 2 GLIDERS ASSTD DESIGNS   49086.0
1747              JUMBO BAG RED RETROSPOT   41878.0
3666   WHITE HANGING HEART T-LIGHT HOLDER   34630.0
...                                   ...       ...
1045       DUSTY PINK CHRISTMAS TREE 30CM       1.0
1490  GREEN PENDANT TRIPLE SHELL NECKLACE       1.0
2497               PINK POLKADOT KIDS BAG       1.0
3087  SET/3 TALL GLASS CANDLE HOLDER PINK       1.0
2855          RUBY GLASS CLUSTER EARRINGS       1.0

[3844 rows x 2 columns]